@charset "UTF-8";
h1 {
  text-align: center;
}

main {
  min-height: 80vh;
}

/*letras con color+tamaño*/
.verde1 {
  color: #b9de70;
  font-size: 29px;
}

.verde2 {
  color: #629c44;
  font-size: 20px;
  padding-left: 2%;
}

.verde1-c {
  color: #b9de70;
  font-size: 29px;
  text-align: center;
}

.verde2-c {
  color: #629c44;
  font-size: 20px;
  text-align: center;
}

#iz {
  text-align: left;
}

.n1 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}
.n1 .a1 {
  color: black;
  font-size: 16px;
  width: 50%;
  padding-left: 1%;
  text-align: justify;
}
.n1 #t-r1 {
  margin-left: 15%;
  justify-items: end;
  text-align: right;
}

.n2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.n2 .a2 {
  color: black;
  font-size: 16px;
  width: 60%;
  text-align: justify;
  margin: auto;
}
.n2 #t-r2 {
  text-align: right;
}

.n3 {
  display: flex;
  flex-direction: column;
}
.n3 .a3 {
  color: black;
  font-size: 16px;
  width: 100%;
  height: auto;
  text-align: justify;
}

#a4 {
  height: 200%;
  width: 100%;
  background-color: #b9de70;
  border: none;
}

/*VISTA MOBILE - RESPONSIVE */
@media (max-width: 540px) {
  .n1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .n1 .a1 {
    width: 100%;
    justify-self: stretch;
    align-self: stretch;
  }
  .n1 .a2 {
    width: 100%;
    margin: 0%;
  }
  .n1 #t-r1 {
    margin-left: 0%;
  }
}
.fondo-producto {
  background-color: #f6f0d8;
}

.centrar-producto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.centrar-producto .producto-top {
  width: 30%;
}

.hierbas-producto {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 11%;
}
.hierbas-producto .tex-producto {
  width: 50%;
  text-align: justify;
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
}

.img-producto {
  display: flex;
  justify-content: center;
  width: 80%;
}
.img-producto .extra-hierbas-1 {
  width: 60%;
}
.img-producto .extra-hierbas-2 {
  width: 35%;
}

/*Bootstrap Carrusel*/
.carousel-control-prev-icon {
  height: 8rem;
  width: 4rem;
  color: black;
  background-image: url(../img/right-arrow.png);
}

.carousel-control-next-icon {
  height: 8rem;
  width: 4rem;
  color: black;
  background-image: url(../img/left-arrow.png);
}

.sr-only {
  color: #629c44;
}

@media (max-width: 540px) {
  .producto-top {
    width: 60%;
  }
  .hierbas-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hierbas-producto .tex-producto {
    width: 75%;
  }
  .hierbas-producto {
    padding-left: 0%;
  }
}
#p1 {
  margin-top: 4%;
}

.img-producto .extra-hierbas-plenitud {
  width: 45%;
  height: 45%;
  align-items: center;
  transform: rotate(270deg);
  margin-top: 5%;
}

/*VISTA MOBILE - RESPONSIVE*/
@media (max-width: 540px) {
  .img-producto .extra-hierbas-plenitud {
    transform: none;
  }
}
.img-producto .extra-hierbas-energia {
  width: 40%;
  height: 40%;
}

.box-steps-p {
  background-color: #b9de70;
  padding-top: 0%;
  padding-bottom: 4%;
}
.box-steps-p .box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2fr);
  padding-left: 0%;
  list-style: none;
}
.box-steps-p .box-grid .box-steps {
  padding: 4%;
  border: 1px solid black;
  border-style: dotted;
  text-align: center;
}

.box-grid2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}
.box-grid2 .c1 {
  height: 40%;
  width: fit-content;
}

#cc {
  text-align: center;
}

#cc1 {
  align-items: center;
}

/*VISTA MOBILE - RESPONSIVE*/
@media (max-width: 540px) {
  .box-steps-p {
    padding-bottom: 0%;
  }
  .box-steps-p .box-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 15%);
  }
  .box-grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 150px);
    justify-items: center;
  }
  .box-grid2 .c1 {
    height: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 70%;
  font-family: "Edu SA Beginner", cursive;
  background-color: #f6f0d8;
}

.i1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.i1 .box-model {
  height: 60%;
  width: 30%;
  transform: rotate(90deg);
  margin-top: 10%;
  margin-inline: -7%;
}

/*VISTA MOBILE - RESPONSIVE index.html */
@media (max-width: 540px) {
  .i1 {
    display: flex;
    flex-direction: column;
  }
  .i1 .box-model {
    transform: none;
    height: fit-content;
    width: 70%;
    margin-top: 2%;
    margin-inline: 0%;
  }
}
header .container-fluid .kelaya-nav-1 {
  height: 45px;
  justify-self: center;
}
header .container-fluid .kelaya-nav-2 {
  height: 45px;
  justify-self: end;
}
header .container-fluid .collapse li {
  list-style: none;
}
header .container-fluid .collapse li .nav-link {
  color: #629c44;
}
header .container-fluid .collapse li .nav-link a {
  color: #b9de70;
  text-decoration: none;
  font-size: 1, 5rem;
}

.footer1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  background-color: #629c44;
  margin-top: 4%;
}
.footer1 .footer-flex {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.footer1 .footer-flex .contiene-logo-p {
  width: 55%;
}
.footer1 .footer-flex .contiene-logo-m {
  width: 25%;
}
.footer1 .footer-flex .contiene-logo-g {
  width: 9%;
}
.footer1 .footer-flex #f2 {
  margin-right: -35%;
}
.footer1 .footer-flex #f3 {
  margin-right: -50%;
}
.footer1 .footer-letras1 {
  color: white;
  display: grid;
  align-content: flex-end;
  justify-items: center;
  font-size: 10px;
}

.footer-pedidos {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 5%;
}
.footer-pedidos .footer-letras2 {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  color: white;
  font-size: 20px;
}
.footer-pedidos .contiene-logo2 {
  width: 25%;
  margin-top: -4%;
}
.footer-pedidos #f4 {
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.contacto1 {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  padding-left: 15%;
  padding-bottom: 2%;
  background-color: #b9de70;
  border: 1px solid #629c44;
  color: white;
}
.contacto1 .c-logo {
  height: 3%;
  width: 5%;
  padding-right: 2%;
}

.n2 .logo-pedido {
  height: 18%;
  width: 18%;
  background-color: #b9de70;
}

/*VISTA MOBILE - RESPONSIVE*/
@media (max-width: 540px) {
  .contacto1 {
    padding-left: 0%;
  }
  .contacto1 .letra-t {
    font-size: 100%;
  }
  .contacto1 .letra-t .c-logo {
    width: 7%;
  }
  .n2 .logo-pedido {
    width: 35%;
  }
}

/*# sourceMappingURL=estilo.css.map */
