* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 70%;
    font-family:'Edu SA Beginner', cursive;
    background-color: #f6f0d8;
}
/* HEADER */
.kelaya-nav-1{
    height: 45px;
    justify-self: center;
}
.kelaya-nav-2{
    height: 45px;
    justify-self: end;
}
.nav-link{
    color: #629c44;
}
/*
.p-4{
    background-image: url(../img/fondo2.jpg);
}*/
a{
    color: #b9de70;
    text-decoration: none;
    font-size: 1,5rem;
}
li{
    list-style: none;
}
/*Usado para varios*/
h1{
    text-align: center;
}
/*index.html*/
.i1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
} 
.box-model{
    height: 60%;
    width: 30%;
    transform: rotate(90deg);
    margin-top: 10%;
    margin-inline: -7%;
}
/*VISTA MOBILE - RESPONSIVE index.html */
@media (max-width: 540px) {
.i1{
    display: flex;
    flex-direction: column;
}
.box-model{
    transform: none;
    height: fit-content;
    width: 70%;
    margin-top: 2%;
    margin-inline: 0%;
}
}

/* css para productos general*/
.centrar-producto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.producto-top{
    width: 30%;
}

.hierbas-producto{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;

}
/*Bootstrap Carrusel*/
.fondo-producto{
    background-color: #f6f0d8;
}

.carousel-control-prev-icon{
    height: 8rem;
    width: 4rem;
}
.carousel-control-next-icon{
    height: 8rem;
    width: 4rem;
}
.sr-only{
    color: #629c44;
}

/* css para productoEnergia.html*/
.tex-energia{
    width: 35%;
    text-align: justify;
    font-size: 15px;
    font-family:'Edu SA Beginner', cursive;
}
.img-energia{
    height: 20%;
    width: 35%;
}
/*
.img-energia{
    
}
*/
.extra-hierbas-energia{
    width: 60%;
    height: 50%;    
}

/* css para productoPlenitud.html*/
#p1{
    margin-top: 4%;
}
.tex-plenitud{
    text-align: justify;
}
/*
.img-plenitud{
    
}
*/
.extra-hierbas-plenitud{
    width: 45%;
    height: 45%;
    align-items: center;
    transform: rotate(270deg);
}

/*VISTA MOBILE - RESPONSIVE productos.html GENERAL*/
@media (max-width:540px){
    .producto-top{
        width: 60%;
    }
    .hierbas-producto{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
/*PLENITUD*/
    .extra-hierbas-plenitud{
        transform: none;
    }

/*ENERGÍA*/
    .extra-hierbas-energia {
    width: 50%;
    height: 40%;
}
.tex-energia {
    width: 70%
}
.img-energia{
    display: flex;
    justify-content: center;
    width: 80%;
}
}
/*letras con color+tamaño*/
.verde1{
    color:#b9de70;
    font-size: 29px;
}
.verde2{
    color:#629c44;
    font-size: 20px;
    padding-left: 2%;
}
.verde1-c{
    color:#b9de70;
    font-size: 29px;
    text-align: center;
}
.verde2-c{
    color:#629c44;
    font-size: 20px;
    text-align: center;
}


/*a1-a2-a3 = sobreNosotros.html*/ 
.a1{
    color: black;
    font-size: 16px;
    width: 50%;
    padding-left: 1%;
    text-align: justify;
}
.a2{
    color: black;
    font-size: 16px;
    width: 60%;
    text-align: justify;
    margin: auto;
}
.a3{
    color: black;
    font-size: 16px;
    width: 100%;
    height: auto;
    text-align: justify;
    /*grid-area: a3;*/
}
#a4{
    height: 200%;
    width: 100%;
    background-color: #b9de70;
    border: none;
}

/*h1-h4 = sobreNosotros.html*/
.n1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}
.n2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.n3{
    display: flex;
    flex-direction: column;
}
#iz{
    text-align: left;
}
#t-r1{
    margin-left: 15%;
    justify-items: end;
    text-align: right;
}
#t-r2{
    text-align: right;
}

/*VISTA MOBILE - RESPONSIVE sobreNosotros.html */
@media (max-width: 540px) {
    .n1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
    }
    .a1{
        width: 100%;
        justify-self: stretch;
        align-self: stretch;
    }
    .a2{
        width: 100%;
        margin: 0%;
    }
    #t-r1{
        margin-left: 0%;
    }
}

/*contactanos.html*/
.contacto1{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 15%;
    padding-bottom: 2%;
    background-color: #b9de70;
    border: 1px solid black;
    color: white;
}
.c-logo{
    height: 3%;
    width: 5%;
    padding-right: 2%;
}
.logo-pedido{
    height: 18%;
    width: 18%;
    background-color: #b9de70;
}

/*VISTA MOBILE - RESPONSIVE sobreNosotros.html */
@media (max-width: 540px) {
    .contacto1{
        padding-left: 0%;
    }
    .letra-t{
        font-size: 100%;
    }
    .c-logo{
        width: 7%;
    }
    .logo-pedido{
        width: 35%;
    }
}

/*preparacionTe.html*/
.box-steps-p{
    background-color: #b9de70;
    padding-top: 0%;
    padding-bottom: 4%;
}
.box-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    padding-left: 0%;
}
.box-steps{
    padding: 4%;
    border: 1px solid black;
    border-style: dotted;
    text-align: center;
}
.box-grid2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
}
#cc{
    text-align: center;
}
#cc1{
    align-items: center;
}
.c1{
    height: 40%;
    width: fit-content;
}

/*VISTA MOBILE - RESPONSIVE preparacionTe.html */
@media (max-width: 540px) {
    .box-steps-p{
        padding-bottom: 0%;
    }
    .box-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 15%);
    }
    .box-grid2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 150px);
        justify-items: center;
    }
    .c1{
        height: 100%;
    }
    }
    


/*FOOTER*/
.footer1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color: #629c44;
    margin-top: 15%;
}
.footer-flex{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.contiene-logo-p{
    width: 55%;
}
.contiene-logo-m{
    width: 25%;
}
#f2{
    margin-right: -35%;
}
.contiene-logo-g{
    width: 9%;
}
#f3{
    margin-right: -50%;
}
.contiene-logo2{
    width: 35%;
    margin-top: -4%;
}
#f4{
    display: flex;
    justify-content: center;
    margin-left: 20%;
}
.footer-letras1{
    color: white;
    display: grid;
    align-content: flex-end;
    justify-items: center;
    font-size: 15px;
}
.footer-pedidos{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 5%;
}
.footer-letras2{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    color: white;
    font-size: 20px;
}
