.contacto1{
    @include flex-column;
    padding-top: 1%;
    padding-left: 15%;
    padding-bottom: 2%;
    background-color: #b9de70;
    border: 1px solid #629c44;
    color: white;

    .c-logo{
        height: 3%;
        width: 5%;
        padding-right: 2%;
    }
}
.n2{
    .logo-pedido{
        height: 18%;
        width: 18%;
        background-color: #b9de70;
    }
    .contiene-form{
        padding: 1%;
        border: 5px solid #b9de70;
        margin-left: 15%;
        margin-right: 15%;
    }
    .mb-3{
        .form-label{
            color: #629c44;
        }
        .form-control{
            width: 100%;
        }
        #exampleFormControlTextarea1{
            height: 100px;
        }
    }
    .btn-primary{
        background-color: #b9de70;
        color: white;
        border: #629c44;
        margin-bottom: 1%;
        margin-left: 45%;
    }
}

/*VISTA MOBILE - RESPONSIVE*/
@media (max-width: 540px) {
    .contacto1{
        padding-left: 0%;
    
        .letra-t{
            font-size: 100%;
        
            .c-logo{
                width: 7%;
            }
        }
    }
.n2{
    .logo-pedido{
        width: 35%;
    }
}
}