header{
.container-fluid{
    .kelaya-nav-1{
        height: 45px;
        justify-self: center;
    }
    .kelaya-nav-2{
        height: 45px;
        justify-self: end;
    }
        .collapse{
            li{
                list-style: none;

            .nav-link{
                color: #629c44;

                a{
                    color: #b9de70;
                    text-decoration: none;
                    font-size: 1,5rem;
                }
            }
        }
    }
}
}