.centrar-producto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .producto-top{
        width: 30%;
    }

.hierbas-producto{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 11%;
}
    .tex-producto{
        width: 50%;
        text-align: justify;
        font-size: 15px;
        font-family:'Edu SA Beginner', cursive;
    }
    .img-producto{
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .extra-hierbas-1{
        width: 60%;
    }
    .extra-hierbas-2{
        width: 35%;
    }
.fondo-producto{
    background-color: #f6f0d8;
}
/*Bootstrap Carrusel*/
.carousel-control-prev-icon{
    height: 8rem;
    width: 4rem;
}
.carousel-control-next-icon{
    height: 8rem;
    width: 4rem;
}
.sr-only{
    color: #629c44;
}

@media (max-width:540px){
    .producto-top{
        width: 60%;
    }
    .hierbas-producto{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tex-producto{
        width: 70%
    }
}