.n1{
    justify-items: center;
    align-items: center;

    .a1{
        color: black;
        font-size: 16px;
        text-align: justify;
        margin-inline: 1%;
        margin-bottom: 1%;
    }
}
.n2{
    @include flex-column;
    justify-content: center;
    justify-items: center; 
    margin-top: 2%;

    .a2{
        color: black;
        font-size: 16px;
        width: 60%;
        text-align: justify;
        margin: auto;
        margin-bottom: 2%;
    }
        #m-t{
            margin-top: 1%;
        }
        #t-r2{
            text-align: right;
        }
}
.n3{
    @include flex-column;

    .a3{
        color: black;
        font-size: 16px;
        width: 100%;
        height: auto;
        text-align: justify;
        margin-block: 0.5%;
    }
}
#a4{
    height: 200%;
    width: 100%;
    background-color: #b9de70;
    border: none;
}
#m-t2{
    margin-top: 1%;
    }
/*VISTA MOBILE - RESPONSIVE */
@media (max-width: 540px) {
    .n1{
        @include flex-column;
        flex-wrap: wrap;
        align-content: stretch;
    
        .a1{
            width: 100%;
            justify-self: stretch;
            align-self: stretch;
        }
        .a2{
            width: 100%;
            margin: 0%;
        }
            #t-r1{
                margin-left: 0%;
            }
    }
}