h1{
    text-align: center;
}
main{
    min-height: 80vh
}

/*letras con color+tamaño*/
.verde1{
    color:#b9de70;
    font-size: 29px;
}
.verde2{
    color:#629c44;
    font-size: 20px;
    padding-left: 2%;
}
.verde1-c{
    color:#b9de70;
    font-size: 29px;
    text-align: center;
}
.verde2-c{
    color:#629c44;
    font-size: 20px;
    text-align: center;
}
